/* -------------------------------------------------------- Nav Bar ----------------------------------------------------------------- */

/* For screens <900px */
.nav-toggle {

    display: none;

}

@media screen and (max-width: 900px) {

    .nav-toggle:checked~nav ul {

        visibility: visible;
        z-index: 10;

    }

    .nav-toggle-label img {

        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin: 1em 1em;
        top: 0;
        left: 0;
        z-index: 10;

    }

    nav ul {

        visibility: hidden;

    }

}

/* For screens >900px */

.nav-toggle-label img {

    position: fixed;
    height: 80px;
    width: 80px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 10;

}

nav {

    width: 100%;
    height: auto;
    position: fixed;
    background-color: #FFF9F6;
    left: 0;
    top: 0;
    padding: 10px;
    z-index: 3;
    border-bottom: 2px solid black;

}

.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 0;
    margin-left: 5em;
    margin-right: 1em;
    padding-top: 1.5em;
    padding-left: 0;

}

.navbar li {

    flex-grow: 1;
    flex-shrink: 1;
    list-style-type: none;

}

.navbar a {

    width: 100%;
    text-align: center;
    float: left;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;

}

.navbar a:hover {

    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

.active {

    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

/* ---------------------------------------------------------- Logo ------------------------------------------------------------------- */

#homepage {

    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;

}

#homepage h3 {

    font-family: Montserrat, Sans serif;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;

}

#logo-small {
    border-radius: 50%;
    max-height: 100px;
    height: auto;

}

/* --------------------------------------------------------- Main Styling ----------------------------------------------------------- */
html,
body {

    background-color: #FFF9F6;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.section-title {

    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: x-large;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 20px;

}

h3 {

    font-family: Montserrat, sans-serif;
    font-size: medium;

}

/* ----------------------------------------------------------- About Us -------------------------------------------------------------- */
#about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0.45fr));
    gap: 1.3rem;
    justify-content: center;
    max-width: 90vw;
    margin: 1rem auto 3rem;

}

.card {

    height: 100%;
    width: 100%;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .4);
    text-align: center;
    aspect-ratio: 1 / 1.1;
    margin-top: 1rem;

}

.card-img {

    max-width: 60%;
    max-height: 60%;
    object-fit: cover;
    border-radius: 50%;
    border: solid 10px #FFF9F6;
    box-shadow: 0 0 0 4px black;
    aspect-ratio: 1 / 1;
    margin-top: 1rem;

}

.card-content {

    margin: 1rem;
    max-width: 100%;
    font-family: Forum, sans-serif;

}

.card-link {

    font-family: Montserrat, sans-serif;

}

/* -------------------------------------------------------------- Artists ------------------------------------------------------------ */
#artists {

    margin: 5px 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.artist-img {

    display: block;
    border-radius: 8px;
    max-width: 100%;
    height: 300px;
    width: 500px;
    object-fit: cover;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .4);

}

.artist-bio-center {

    display: flex;
    align-items: center;
    text-align: justify;
    font-family: Forum, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 100%;
    line-height: 30px;

}

.artist-bio h3 {

    text-align: center;
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: large;
    font-weight: bolder;

}

#artist1-img {

    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

#artist1-text {

    grid-column: 2 / 5;
    grid-row: 2 / 3;

}

#artist2-img {

    grid-column: 4 / 5;
    grid-row: 3 / 4;

}

#artist2-text {

    grid-column: 1 / 4;
    grid-row: 3 / 4;

}

#artist3-img {

    grid-column: 1 / 2;
    grid-row: 4 / 5;

}


#artist3-text {

    grid-column: 2 / 5;
    grid-row: 4 / 5;

}

/* For screen sizes <900px */
@media screen and (max-width: 900px) {


    #artist1-img {

        grid-column: 2 / 4;
        grid-row: 1 / 2;

    }

    #artist1-text {

        grid-column: 1 / 5;
        grid-row: 2 / 3;

    }

    #artist2-img {

        grid-column: 2 / 4;
        grid-row: 3 / 4;

    }

    #artist2-text {

        grid-column: 1 / 5;
        grid-row: 4 / 5;

    }

    #artist3-img {

        grid-column: 2 / 4;
        grid-row: 5 / 6;

    }

    #artist3-text {

        grid-column: 1 / 5;
        grid-row: 6 / 7;

    }

}

/* -------------------------------------------------------------- Map ---------------------------------------------------------------- */
#map {

    margin-top: 20px;

}

/* ------------------------------------------------------ Jump To Top Button --------------------------------------------------------- */
.jump-btn {

    border: 2px solid black;
    border-radius: 8px;
    width: 150px;
    height: auto;
    margin: 20px auto;
    text-align: center;

}

.jump-btn i {

    font-size: 200%;
    color: #ed7444;

}

.jump-btn a {

    font-family: Montserrat, sans serif;
    font-size: larger;

}

/* ------------------------------------------------------------ Footer --------------------------------------------------------------- */
.footer {

    width: 100vw;
    text-align: center;
    color: black;
    position: relative;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: small;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 20px;
    margin: 10% auto 0 auto;

}

/* Social Media Icon Links */
.socials {

    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding-inline-start: 0;
    padding: 0;
    margin: 0;

}

.socials li {

    list-style-type: none;
    display: inline;
    text-align: center;
    color: #ed7444;
    text-shadow: 1px 1px 1px black;
    font-size: 4.5em;

}

.socials a:visited,
a {

    color: #ed7444;
    text-decoration: none;

}

#footer-text a:visited,
a {

    color: black;

}

/* --------------------------------------------------------- Gallery Page ----------------------------------------------------------- */
.gallery-title {

    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: xx-large;
    border-bottom: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 9rem;

}

.gallery-title h3 {

    font-family: Montserrat, sans-serif;
    text-align: center;
    color: black;
    font-size: 150%;
    margin: 0;

}

.gallery-image {

    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #ed7444;
    border-radius: 2.5%;
    border: 2px solid black;
    min-width: 100%;
    min-height: 100%;

}

#gallery {

    display: grid;
    width: auto;
    
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 7px 7px 50px 5px;

}

#gallery-img3 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

#gallery-img5 {
    grid-row: 4 / 6;
    grid-column: 2 / 3;

}

#gallery-img10 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;

}

/* Gallery Contact Button */
#gallery-contact {

    display: flex;
    justify-content: center;

}

#gallery-contact>div {

    margin-top: 20px;
    width: 30%;
    border: 2px solid black;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;

}

#gallery-contact>a {

    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: larger;

}

#gallery-contact a:hover {

    border-bottom: 1px solid black;

}

/* ---------------------------------------------------------- Equipment ------------------------------------------------------------- */


#equipment-title {

    margin: 0px 0px 20px 0px;
    border-top: 2px solid black;

}

#equipment-title h3 {

    margin: 10px;
}

#equipment {

    display: grid;
    place-items: center;
    align-items: flex-start;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.3fr);
    z-index: -1;

}

.equipment-img {

    width: 75%;
    height: 75%;
    background-color: #ed7444;
    background-size: cover;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    margin: 0;
    padding: 0;

}

.equipment-img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}

.equipment-text {

    list-style: none;
    text-align: center;
    font-family: Forum, sans-serif;
    font-size: larger;
    color: black;
    line-height: 30px;
    text-transform: uppercase;

}

.equipment-text ul {

    list-style-type: none;
    padding: 0;
    
}

.equipment-text h4 {

    font-family: Montserrat, sans sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;

}

#mics-img {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url("../images/equipment-images/microphone1.webp");
    background-position-y: 35%;

}

#mics-text {

    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

#instruments-img {

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url("../images/equipment-images/instruments1.webp");
    background-position-y: 90%;
}

#instruments-text {

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#hardware-img {

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-image: url("../images/equipment-images/hardware1.webp");

}

#hardware-text {

    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#daw-img {

    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-image: url("../images/equipment-images/software1.webp");
}

#daw-text {

    grid-column: 2 / 3;
    grid-row: 4 / 5;

}

@media screen and (max-width: 900px) {
    
    #equipment {

        display: grid;
        grid-template-columns: 0.4fr;
        grid-template-rows: 0.3fr;
        justify-content: center;
    }


        #mics-img {

            grid-column: 1 / 2;
            grid-row: 1 / 2;
            aspect-ratio: 1 / 1;
        
        }
        
        #mics-text {
        
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        
        }
        
        #instruments-img {
        
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            aspect-ratio: 1 / 1;
        }
        
        #instruments-text {
        
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        
        #hardware-img {
        
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            aspect-ratio: 1 / 1;
        
        }
        
        #hardware-text {
        
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        
        #daw-img {
        
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            aspect-ratio: 1 / 1;
        
        }
        
        #daw-text {
        
            grid-column: 1 / 2;
            grid-row: 8 / 9;
    }
}


/* --------------------------------------------------------- Contact Page ----------------------------------------------------------- */
#contact-container {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    text-align: center;
    align-items: center;

}

.contact-label {

    font-family: Montserrat, sans-serif;
    font-size: large;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 20px;

}

.contact-input {

    width: 25%;
    height: 20px;

}

#contact-msg {

    width: 75%;
    height: 300px;

}

#contact-container button {

    color: #ed7444;
    border: none;
    background-color: #FFF9F6;
    font-size: 300%;
    margin-bottom: 30px;

}

/* ------------------------------------------------------ Thank You Page ------------------------------------------------------------ */
#thankyou {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-top: 5rem;

}

.contact-text p {

    text-align: center;
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;

}

#back-btn a {

    color: #ed7444;
    border: none;
    background-color: #FFF9F6;
    font-size: 150%;
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-family: Montserrat, sans-serif;

}

#footer-contact {

    position: absolute;
    bottom: 0;
    width: 100%;

}

/* ------------------------------------------------- Terms And Conditions ----------------------------------------------------------- */
#terms {

    margin-left: 1.5rem;
    padding-top: 5em;

}

#terms h2,
h3 {

    font-family: Montserrat, sans-serif;

}

.bullet {

    list-style-type: circle;

}

#terms ul,
p {

    font-family: forum, sans serif;

}