
/* Logo */

#logo-small {
    border-radius: 50%;
    max-width: 8%;
    height: auto;
}

#background-video {

    max-width: 100%;
    height: auto;
}

#background-video-div {
    text-align: center;
}

/* #background-video {
    z-index: -1;
    padding-top: 100px;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);

}  */


/* Header */

/* .header {
 
    background-color: #004643;
    display: inline;
    font-family: forum, Tahoma, Verdana, sans-serif;
    font-size: 250%;
    text-transform: uppercase;
    position: fixed;   
}

.header > a {
    margin: 20px 20px 50px 20px;
    background-color: #FFF9F6;
    
} */


/* Main Page Styling */

.main-style {
        
        background-color: #FFF9F6;
}



/* About Us */

/* #about-container {
    display: grid;
    grid-template-columns: repeat(6, 12px);
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 1px;
    grid-column-gap: 9px;
    padding: 10px;


}
*/

 .about-img {

    border-radius: 8px;
    max-width: 100%;
    height: auto;
  
   
}


/* Artists */

.artist-img {

    border-radius: 8px;
    max-width: 100%;
    height: auto;

}






/* Gallery */

.gallery-image {
    max-width: 100%;
    height: auto
}


