/* Nav Bar */



nav {
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: #FFF9F6;
    left: 0;
    top: 0;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
    
}
        

.navbar li { 

    flex-grow: 1;
    flex-shrink: 1;
    list-style-type: none;

}
/* 
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    min-width: 130px;
    text-align: center;
    
}*/
    


.navbar a {
    
    width: 100%;
    text-align: center;
    float: left;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
   
}


.navbar a:hover {

    border-bottom: 1px solid black;
    border-top: 1px solid black;
}


.active {

    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

/* Logo & Video */

#logo-small {
    border-radius: 50%;
    max-height: 100px;
    height: auto;
    
 
}

#background-video {

    max-width: 100%;
    height: auto;
    max-height: 100%;

    
}

.video-div {
    text-align: center;
    padding-top: 150px;
    height: 100vh;
    
}


/* Main Page Styling */

html {
        
    background-color: #FFF9F6;
}

.background-div {
    min-height: 100%;
    min-width: 100%;
    padding: 150px;
}

.section-title { 

    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: x-large;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 20px;

    /* grid position for 'Artist Title' */
    grid-column: 1 / 5; 
    grid-row: 1 / 2;

}

h3 {

    font-family: Montserrat, sans-serif;
    font-size: medium;
}


/* About Us */

 #about-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#about-container p {
    text-align: center;
    font-family: Forum, sans-serif;
    color: black;
    font-weight: bold;
}

#about-container h3 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-top: 10px;
    text-decoration: underline overline;
}

.about-link {
    width: 100%;
    text-align: center;
    float: left;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
   
}


 .about-img {
    
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 10px #FFF9F6;
    box-shadow: 0 0 0 6px black;
    margin-top: 20px;
    
}



/* Artists */

#artists {

    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}


.artist-img {

    display: block;
    border-radius: 8px;
    max-width: 100%;
    height: 300px;
    width: 500px;
    object-fit: cover;

}

.artist-bio-center {

    display: flex;
    align-items: center;
    text-align: justify;
    font-family: Forum, sans-serif;
    color: black;
    letter-spacing: 2px;
    line-height: 35px;


}

.artist-bio h3 {

    text-align: center;
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: large;
    font-weight: bolder;
    

}


#artist1-img {

    grid-column: 1 / 2;
    grid-row: 2 / 3;

}


#artist1-text {

    grid-column: 2 / 5;
    grid-row: 2 / 3;

}

#artist2-img {

    grid-column: 4 / 5;
    grid-row: 3 / 4;

}


#artist2-text {

    grid-column: 1 / 4;
    grid-row: 3 / 4;

}

#artist3-img {

    grid-column: 1 / 2;
    grid-row: 4 / 5;

}


#artist3-text {

    grid-column: 2 / 5;
    grid-row: 4 / 5;

}

/* Map */

#map {
    margin-top: 20px;
    
}



/* Footer */

.footer { 
    
    text-align: center;
    color: black;
    position: relative;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: small;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 20px;
    margin-top: 20px;

}

.socials {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1rem;
  
    padding-inline-start: 0;
}

.socials li {

    list-style-type: none;
    display: inline;
    text-align: center;
    color: #ed7444;
    text-shadow: 1px 1px 1px black;
    font-size: 4.5em;
    padding: 2vmin 14vmin;

}

.socials a:visited, a {

    color:#ed7444;
    text-decoration: none;
    
}

#footer-text a:visited, a {
    color: black;

}

/* Gallery */

.gallery-image {
    max-width: 100%;
    height: auto
}


#gallery {
    display: grid;
    width: 100%;
    height: auto;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-image {

    max-width: 100%;
    height: auto;
    border-radius: 2.5%;
    border: 2px solid black;
}

#gallery-img3 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

#gallery-img5 {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}


#gallery-img10 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;

}


#gallery-contact {

    color: black;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: larger;
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    text-align: center;
    border: 2px solid black;
    border-radius: 2.5%; /* not seeming to work */
    
}

#gallery-contact > a {

    text-decoration: none;
    color: black;
    font-size: larger;
    
}

#gallery-contact a:hover {

    border-bottom: 1px solid black;

}

/* Equipment */

#equipment {

    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
}

#mics {

    background-image: url(/assets/images/equipment-images/microphone1.jpg);
    background-color: #ed7444;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 8px;
    background-position: center;
}

#instruments {
    
    background-image: url(/assets/images/equipment-images/intruments1.jpg);
    background-color: #ed7444;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 8px;
    background-position: center;
}

#hardware {

    background-image: url(/assets/images/equipment-images/hardware1.jpg);
    background-color: #ed7444;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 8px;
    background-position: center;
}

#software {

    background-image: url(/assets/images/equipment-images/software1.jpg);
    background-color: #ed7444;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 8px;
    background-position: center;
}